<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/admin.css" rel="stylesheet">
</head>
<body>
    <div class="container">
	<div class="panel">
		<div class="heading">
			Input product detail information
		</div>
		<div class="body">
			<form method="post" action="/product/edit">
            <input type="hidden" name="txtId" value="{{product._id}}">
				<div class="form-group">
					<label>Product Name :</label>
					<input class="form-control" type="text" name="txtName" value="{{product.name}}">
				</div>
				<div class="form-group">
					<label >Category Name :</label>
					<select class="form-control" name="txtCategory"  id="{{product.categories}}" >
						<option value="{{product.category._id}}" selected>{{product.category.name}}</option>
                        {{#each categories as |cat|}}
                        <option value="{{cat._id}}">{{cat.name}}</option>
                        {{/each}}
					</select>
				</div>
				<div class="form-group">
					<label>Price :</label>
					<input class="form-control" type="text" name="txtPrice" value="{{product.price}}">
				</div>
                <div class="form-group">
                    <label>Image :</label>
                    <input type="text" class="form-control" name="txtImage" value="{{product.image}}">
                </div>
				<div class="form-group">
					<button class="btn btn-success" type="submit" value="Insert">Update</button>
					<button class="btn btn-danger" type="reset">Reset</button>
				</div>
			</form>
		</div>
	</div>
	</div>
</body>
</html>

    