<h1>List Products</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Category</th>
            <th>Delete</th>
            <th>Edit</th>

        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td><img src="{{image}}" alt="" width="100" height="100"></td>
            <td>{{category}}</td>

            <td><a href="/delete?id={{_id}}" onclick="return confirm('Are you sure?')">Delete</a></td>
            <td><a href="product/edit?id={{_id}}">Edit</a></td>

        </tr>
        {{/each}}
    </tbody>
</table>