<style>
    body {
        background-color: #fff
    }

    .container {
        background-color: #ebeff3;
        width: 70%;
    }

    .addtxt {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 13px;
        height: 100%;
        width: 60%;
        background-color: #dbd6c8;
        font-weight: 500;
        border-radius: 12px;
    }


    .second {
        width: 70%;
        background-color: white;
        border-radius: 12px;
        box-shadow: 10px 10px 5px #aaaaaa
    }

    .text1 {
        font-size: 13px;
        font-weight: 500;
        color: #110000
    }

    .text2 {
        font-size: 13px;
        font-weight: 500;
        margin-left: 6px;
        color: #56575b
    }

    .text3 {
        font-size: 13px;
        font-weight: 500;
        margin-right: 4px;
        color: #3873a6
    }

    .text3o {
        color: #00a5f4
    }

    .text4 {
        font-size: 13px;
        font-weight: 500;
        color: hsl(300, 45%, 47%)
    }

    .text4i {
        color: #00a5f4
    }

    .text4o {
        color: white
    }

    .thumbup {
        font-size: 13px;
        font-weight: 500;
        margin-right: 5px
    }

    .thumbupo {
        color: #17a2b8
    }

    .sent-button {
        border-radius: 12px;
    }

    .reply {
        font-size: 10px;
        font-weight: 300;
        color: #110000
    }

    .repInput {
        margin-top: -20px;
    }
</style>

<div class="container justify-content-center mt-5 border-left border-right">
    {{#each listFeedback as |fb| }}
        <div class="d-flex justify-content-center py-2">
            <div class="second py-2 px-2"><span class="text1">{{fb.user.username}}</span>
                <div class="d-flex justify-content-between py-1 pt-2">
                    <div><span class="text2">{{fb.content}}</span></div>
                    <div>
                        <button class="text3" onclick="reply('{{fb._id}}')">Reply</button>
                    </div>
                </div>

                <div class="reply" id="rep{{fb._id}}" hidden>
                    <hr>
                    <form action="/feedback/reply?id={{fb._id}}" method="post">
                        <div class="d-flex justify-content-center pt-3 pb-2 repInput">
                            <input id="reply-input" style="height: 20px" type="text" name="txtReply"
                                   placeholder="Write reply" class="form-control addtxt">
                            <a href="/feedback/reply" id="reply-btn">
                                <button class="sent-button">Send</button>
                            </a>
                        </div>
                    </form>
                    <span class="text1">Admin:</span>
                    <div>
                        <div><span class="text2">{{fb.reply}}</span></div>
                    </div>
                </div>
            </div>

        </div>
    {{/each}}
    <script>
        let repInput = document.getElementById('reply-btn');
        if (role != 'admin') {
            repInput.hidden = true
        }

        function reply(id) {
            let repTag = document.getElementById(id)

            let contentID = 'rep' + id;
            let repContent = document.getElementById(contentID);

            if (repContent.hidden == true) {
                repContent.hidden = false;
            } else {
                repContent.hidden = true;
            }
        }
    </script>
    <form action="/feedback/sent" method="POST">
        <div class="d-flex justify-content-center pt-3 pb-2">
            <input type="text" name="text" placeholder="Write comment" class="form-control addtxt">
            <button class="sent-button">Send</button>
        </div>
    </form>
</div>